trunk/PoliceSMS/Service References/ReportService/ReportWcf.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="LoadStationReportResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UnitType" type="xs:int" />
        <xs:element minOccurs="0" name="beginTime1" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime1" type="xs:dateTime" />
        <xs:element minOccurs="0" name="beginTime2" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime2" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadStationReportResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoadStationReportResultResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadOfficerReportResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UnitId" type="xs:int" />
        <xs:element minOccurs="0" name="beginTime1" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime1" type="xs:dateTime" />
        <xs:element minOccurs="0" name="beginTime2" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime2" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadOfficerReportResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoadOfficerReportResultResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>