PoliceSMS/Service References/ReportService/ReportWcf.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ReportWcf" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1415/Report/ReportWcf.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1415/Report/ReportWcf.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IReportWcf_LoadStationReportResult_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadStationReportResult" />
  </wsdl:message>
  <wsdl:message name="IReportWcf_LoadStationReportResult_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadStationReportResultResponse" />
  </wsdl:message>
  <wsdl:message name="IReportWcf_LoadOfficerReportResult_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadOfficerReportResult" />
  </wsdl:message>
  <wsdl:message name="IReportWcf_LoadOfficerReportResult_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadOfficerReportResultResponse" />
  </wsdl:message>
  <wsdl:portType name="IReportWcf">
    <wsdl:operation name="LoadStationReportResult">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportWcf/LoadStationReportResult" message="tns:IReportWcf_LoadStationReportResult_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportWcf/LoadStationReportResultResponse" message="tns:IReportWcf_LoadStationReportResult_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadOfficerReportResult">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportWcf/LoadOfficerReportResult" message="tns:IReportWcf_LoadOfficerReportResult_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportWcf/LoadOfficerReportResultResponse" message="tns:IReportWcf_LoadOfficerReportResult_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IReportWcf" type="tns:IReportWcf">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LoadStationReportResult">
      <soap:operation soapAction="http://tempuri.org/IReportWcf/LoadStationReportResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadOfficerReportResult">
      <soap:operation soapAction="http://tempuri.org/IReportWcf/LoadOfficerReportResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReportWcf">
    <wsdl:port name="BasicHttpBinding_IReportWcf" binding="tns:BasicHttpBinding_IReportWcf">
      <soap:address location="http://localhost:1415/Report/ReportWcf.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>